@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Gotham";
    src: url("/public/font/GothamMedium.ttf");
  }
  @font-face {
    font-family: "GothamBold";
    font-style: bold;
    src: url("/public/font/GothamBold.ttf");
  }
  @font-face {
    font-family: "Gothamlight";
    font-style: light;
    src: url("/public/font/GothamLight.ttf");
  }
  @font-face {
    font-family: "GothamItalic";
    font-style: italic;
    src: url("/public/font/GothamMediumItalic.ttf");
  }
  @font-face {
    font-family: "GothamBoldItalic";
    font-style: bold italic;
    src: url("/public/font/GothamBoldItalic.ttf");
  }
  @font-face {
    font-family: "GothamLightItalic";
    font-style: light italic;
    src: url("/public/font/GothamLightItalic.ttf");
  }
}
