@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@layer base {
  @font-face {
    font-family: "Helvetica";
    src: url("/public/font/Helvetica.ttf");
  }
  @font-face {
    font-family: "HelveticaBold";
    font-style: bold;
    src: url("/public/font/Helvetica-Bold.ttf");
  }
  @font-face {
    font-family: "HelveticaLight";
    font-style: light;
    src: url("/public/font/Helvetica-Light.ttf");
  }
  @font-face {
    font-family: "HelveticaItalic";
    font-style: italic;
    src: url("/public/font/Helvetica-Italic.ttf");
  }
  @font-face {
    font-family: "HelveticaBoldItalic";
    font-style: bold italic;
    src: url("/public/font/Helvetica-Bold-Italic.ttf");
  }
  @font-face {
    font-family: "HelveticaRoundedBold";
    font-style: light italic;
    src: url("/public/font/Helvetica-Rounded-Bold.otf");
  }
}

/* Chrome, Safari, Edge, opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
